@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .notification {
        @apply mb-4 max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden p-4;
        opacity: 0;
        transform: translateY(-1rem);
    }

    .notification-article {
        @apply border-l-4 border-blue-500;
    }

    .notification-comment {
        @apply border-l-4 border-green-500;
    }
}
